<html>
    <head>
        <title>SOTPAL</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <style>
            body {
                background-color: dimgrey;
            }
        </style>
    </head>
    <body>
        <h5>Some of these people are lying!</h5>
        <span id="output">Nothing drawn yet</span><br>
        <span id="count">There are 0 entries left</span><br>
        <button id="submit" class="waves-effect waves-light btn-small">Draw</button>
        <a href="/add/{{.ID}}" class="waves-effect waves-light btn-small">Add!</a>
        <script>
            const RoomID = "{{.ID}}";
            let btn = document.getElementById("submit");
            let count = document.getElementById("count");

            btn.addEventListener('click', onClick)
            function onClick(evt) {
                let e = document.getElementById("output")
                fetch('/api/draw/' + RoomID).then((data) => {
                    data.text().then((t) => {
                        if(t === "") {
                            e.innerText = "Nothing drawn";
                            return;
                        }
                        e.innerText = t
                        updateCount()
                    });
                });
            }

            function updateCount() {
                fetch('/api/count/' + RoomID).then((data) => {
                    data.text().then((t) => {
                        count.innerText = "There are " + t + " entries left";
                    });
                });
            }
            updateCount()
        </script>
    </body>
</html>