<html>
    <head>
        <title>SOTPAL</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <style>
            body {
                background-color: dimgrey;
            }
        </style>
    </head>
    <body>
        <h5>Some of these people are lying!</h5>
        <a href="/api/create" class="waves-effect waves-light btn-large">Create room</a>
    </body>
</html>